@font-face {
  font-family: 'Computer Modern';
  src: url('../font/cmunrm.ttf') format('truetype');
}

@font-face {
  font-family: 'Computer Modern';
  font-style: italic;
  src: url('../font/cmunsl.ttf') format('truetype');
}

html {
  background: #222;
  color: #fff;
}

* {
  box-sizing: border-box;
  font-size: 24px;
  font-family: 'Computer Modern';
  letter-spacing: 1px;
}

sup {
  font-size: 12px;
  margin-left: 2px;
}

button {
  border: 1px solid #999;
  background: none;
  color: #999;
  border-radius: 8px;
  height: 36px;
  display: flex;
  justify-content: center;
}

.main {
  width: 1400px;
  display: flex;
  flex-direction: row;
  margin: 64px auto;
}

.editor,
.result {
  padding: 0 8px;
  width: 700px;
}

.var {
  position: relative;
  margin-top: 16px;
}

.var button {
  position: absolute;
  right: 0;
  top: 0;
}

.var .name {
  width: 120px;
}

.filter {
  display: flex;
  align-items: center;
}

.filter input {
  margin-left: 8px;
}

input,
textarea {
  background: #222;
  color: #fff;
  outline: none;
  border: 2px solid #555;
  padding: 4px;
  flex-grow: 1;
}

textarea {
  height: 200px;
  resize: vertical;
  white-space: nowrap;
}

input[type='range'] {
  width: 100%;
}

.transferFunction {
  display: flex;
  align-items: center;
}

.error {
  color: #f00;
  font-size: 14px;
  height: 20px;
}

.transferFunction .lhs {
  display: block;
}

.transferFunction .rhs {
  display: block;
  margin-left: 8px;
}

.transferFunction .rhs .numerator {
  border-bottom: 1px solid #eee;
  text-align: center;
}

.transferFunction .rhs .denominator {
  display: block;
  text-align: center;
}
